* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.inicio {
	width: 400px;
	height: 300px;
	background-color: aqua;
	margin: auto;
	padding: 12px;
	position: relative;
	top: 100px;
}

.centro {
	margin: 30px auto;
	position: relative;
	left: 40px;
}

h1 {
	text-align: justify;
	margin: 10px;
}

input {
	margin: 5px;
	position: relative;
	left: 20px;
}

label {
	position: relative;
	left: 20px;
}

button {
	border-radius: 20px;
	width: 150px;
	height: 30px;
	position: relative;
	left: 20px;
	font-family: "Times New Roman", Times, serif;
}

a {
}
